.MSAlignments-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}
.clustal {
  white-space: nowrap;
  font-family: monospace;
  height: 18px;
  font-size: 12px;
  .A, .I, .L, .M, .F, .W, .V {  background-color: #80a0f0  }
  .R, .K {  background-color: #f01505  }
  .N, .Q, .S, .T {  background-color: #00ff00  }
  .D, .E {  background-color: #c048c0  }
  .C {  background-color: #f08080  }
  .G {  background-color: #f09048  }
  .H {  background-color: #15a4a4  }
  .P {  background-color: #ffff00  }
  .B, .X, .Z {  background-color: #ffffff  }
  .gap {  color: #ccc  }
}
.zappo {
  white-space: nowrap;
  font-family: monospace;
  height: 18px;
  font-size: 12px;
  .A, .I, .L, .M, .V {  background-color: #ffafaf  }
  .R, .H, .K {  background-color: #6464ff  }
  .N, .Q, .S, .T {  background-color: #00ff00  }
  .D, .E {  background-color: #ff0000  }
  .C {  background-color: #ffff00  }
  .G, .P {  background-color: #ff00ff  }
  .F, .W, .Y {  background-color: #ffc800  }
  .B, .X, .Z {  background-color: #ffffff  }
  .gap {  color: #ccc  }
}
.taylor {
  white-space: nowrap;
  font-family: monospace;
  height: 18px;
  font-size: 12px;
  .A {  background-color: #ccff00  }
  .R {  background-color: #0000ff  }
  .N {  background-color: #cc00ff  }
  .D {  background-color: #ff0000  }
  .C {  background-color: #ffff00  }
  .Q {  background-color: #ff00cc  }
  .E {  background-color: #ff0066  }
  .G {  background-color: #ff9900  }
  .H {  background-color: #0066ff  }
  .I {  background-color: #66ff00  }
  .L {  background-color: #33ff00  }
  .K {  background-color: #6600ff  }
  .M {  background-color: #00ff00  }
  .F {  background-color: #00ff66  }
  .P {  background-color: #ffcc00  }
  .S {  background-color: #ff3300  }
  .T {  background-color: #ff6600  }
  .W {  background-color: #00ccff  }
  .Y {  background-color: #00ffcc  }
  .V {  background-color: #99ff00  }
  .B, .X, .Z {  background-color: #ffffff  }
  .gap {  color: #ccc  }
}
.hydrophobicity {
  white-space: nowrap;
  font-family: monospace;
  height: 18px;
  font-size: 12px;
  color: #ffffff;
  .A {  background-color: #ad0052  }
  .R, .K {  background-color: #0000ff  }
  .N, .D, .Q, .E, .B, .Z  {  background-color: #0c00f3  }
  .C {  background-color: #c2003d  }
  .G {  background-color: #6a0095  }
  .H {  background-color: #1500ea  }
  .L {  background-color: #ea0015  }
  .M {  background-color: #b0004f  }
  .F {  background-color: #cb0034  }
  .P {  background-color: #4600b9  }
  .S {  background-color: #5e00a1  }
  .T {  background-color: #61009e  }
  .W {  background-color: #5b00a4  }
  .Y {  background-color: #4f00b0  }
  .V {  background-color: #f60009  }
  .X {  background-color: #680097  }
  .gap {  color: #ccc  }
}