.MSAlignments-wrapper {
  overflow-x: scroll;
}
.clustal {
  white-space: nowrap;
  font-family: monospace;
  font-size: 11pt;
  margin: -2px;
  .A,.I,.L,.M,.F,.W,.V {
    background-color: #80a0f0
  }
  .R,.K {
    background-color: #f01505
  }
  .N,.Q,.S,.T {
    background-color: #00ff00
  }
  .D,.E {
    background-color: #c048c0
  }
  .C {
    background-color: #f08080
  }
  .G {
    background-color: #f09048
  }
  .H {
    background-color: #15a4a4
  }
  .P {
    background-color: #ffff00
  }
}
